
 /* General */
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

  /* header */

body {
  background-color: rgb(246, 248, 249);
}

div.logo {
  background-color: rgb(255, 255, 255);
  padding: 10px;


  
}

#name {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  
}

.rectangle {
  width: 815px;
  height: 500px;
  background-color: white;
  padding: 15px;
  padding-left: 40px;

}

.container {
  padding: 131px 600px;
  margin-right:6px;
}

#buttontask {
  background-color: rgb(71, 173, 241);
  color: white;
  margin-right: 10px;
  height: 35px;
  width: 90px;
  border-radius: 10px;
     }


  /* main */